@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

*{
  background-color: rgb(255, 255, 255);
  color: rgb(46, 43, 78);
  font-family:'Courier New', Courier, monospace, sans-serif;
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  
}



button {
  border-radius: 3px;
}
.App {
  text-align: center;
}

/*formulaire d'ajout*/

.addToys{
  padding: 50px;
}

.addToysLabel{
  background-color: rgb(43, 130, 130);
  color: #fdf8f8;
  margin-top: 3px;
  padding: 10px;
  border-radius: 9px;
 

}
.addHandle{
  
  color: blue;
  font-size: 1.5em;


}
/*boutons ajout et remove et modifier dans le formulaire*/
.addRemove{
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(94, 94, 171);
  color: rgb(255, 255, 255);
}

.triList{
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(25, 25, 85);
  color: azure;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}





