*{
  background-color: rgb(28, 46, 83);
  color: white;
  font-family:'Courier New', Courier, monospace, sans-serif
  
}

button {
  border-radius: 3px;
}
.App {
  text-align: center;
}
.triList{
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(25, 25, 85);

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}





